
.primaryColor{
  color: aqua;
}

.secondaryColor{
  color: blue;
}

.decoration{
  text-decoration: underline;
}

.position{
  text-align: center;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  width: 1200px;
}

